<h1>WELCOME TO ROCK, PAPER, SCISSORS</h1>
<div id="main-img"><img  src="https://www.dramafever.com/st/news/images/cheater1.jpg" alt="rock, paper, scissors"></div>
<p>Enter you weapon of choice in the address bar first, followed by your opponents choice, like so:
/game/your-weapon/opponents-weapon. You can only choose rock, paper or scissors."</p>
